<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="node"
      arguments="index.js"
      startupTimeLimit="60"
      startupRetryCount="3"
      stdoutLogEnabled="true"
      stdoutLogFile=".\stdout.log">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="GATEWAY_TUNNEL" value="wss://mrmohamedsiam.runasp.net/wa/tunnel" />
        <environmentVariable name="GATEWAY_KEY" value="" />
        <environmentVariable name="GATEWAY_TUNNEL_KEY" value="" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>